* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#home,
#about,
#projects,
#contact {
  scroll-margin-top: 100px;
}

/* :root {
  --darkblue: #100f1b;
  --border: #3a3a46;
  --background-lighter: #cda716;
  --background-emphasis: #5e5e5e;
  --text: #efedff;
  --background: #847655;
  --emphasis: #00adad;
  --gray: #ababab;
  --brown: #4f3433;
  --page: #000000;
  --blur: blur(10px);
} */

/* Root 1 */
/* :root {
  --page: #000000;
  --darkblue: #0a0e27;
  --border: #00ffff ;
  --emphasis: #00ffff;
  --background-lighter: #00d9ff ;
  --background-emphasis: #1a1a2e;
  --background: #16213e ;
  --text: #e0e0e0 ;
  --gray: #2d3561 ;
  --brown: #0f3460;
} */

/* Root 2 */
:root {
  --page: #000000;
  --darkblue: #1a1a1a;
  --border: #00ff9f;
  --emphasis: #00ff9f;
  --background-lighter: #ff00ff;
  --background-emphasis: #1e1e1e;
  --background: #2a2a2a;
  --text: #e0e0e0;
  --gray: #3a3a3a;
  --brown: #2d2d2d;
}

body {
  background-color: var(--page);
  color: var(--text)
}

a {
  text-decoration: none;
  color: var(--text);
}

section {
  margin-bottom: 60px;;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-bottom: var(--border) solid 2px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--darkblue);
  margin-bottom: 60px;
  backdrop-filter: var(--blur);
  opacity: 85%;
  z-index: 100;
}

#Logo {
  font-size: 1.5rem;
  color: var(--emphasis);
}

#nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

#nav a {
  font-size: 1rem;
  position: relative;
}

#nav a:hover {
  color: var(--background-lighter)
}

#nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--emphasis);
  transition: width 0.5s ease;
}

#nav a:hover::after {
  width: 100%;
}

/* Home */

#home {
  text-align: center;
  padding: 50px 20px;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

#home h1 {
  color: var(--emphasis);
  margin-bottom: 30px;
  font-size: 3.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Home section, */
#home-flex {
  display: flex;
  flex-direction: column;
}

#home section {
  gap: 30px;
}

/* #home #home-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:50%;
} */

#home p {
  margin: 20px;
  margin: auto;
  max-width: 50%;
}

#home div {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 30px 25px;
  align-items: center;
  color: var(page);
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.buttons a:hover {
  color: var(--page);
  box-shadow: 0 8px 16px var(--background-lighter);
  transform: translateY(-5px);
}

#home a {
  background-color: var(--emphasis);
  color: var(--page);
  padding: 30px 40px;
  justify-content: center;
  border-radius: 8px;
}

#home #project-btn {
  background-color: var(--background-lighter);
  color: var(--text);
  padding: 30px 25px;
  align-items: center;
}

.buttons #project-btn:hover {
  box-shadow: 0 8px 16px var(--emphasis);
  transform: translateY(-5px);
}

/* About */


#about {
  text-align: center;
  justify-content: center;
}

#about h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: var(--emphasis);
}

#about-content {
  display: flex;
  margin: 0px 30px 0px 30px;
  gap: 40px;
}

#about-text {
  text-align: left;
}

#about-skills h3 {
  margin-bottom: 30px;
  font-size: 1.15rem;
  color: var(--background-lighter);
}

#skills {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#skills li {
  background-color: var(--gray);
  color: var(--text);
  padding: 10px;
  border-color: 1px solid color black;
  margin: 10px;
  border-radius: 8px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

#skills li:hover {
  box-shadow: 0 8px 16px var(--emphasis);
  transform: translateY(-5px);
}

/* Projects */

#projects h2 {
  text-align: left;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: var(--emphasis);
}

#projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}

#projects {
  /* scroll-margin-top: 80px; */
  margin: 30px;
}

#project-card {
  list-style: none;
  background-color: var(--background-emphasis);
  color: var(--text);
  padding: 30px;
  border: 3px solid var(--darkblue);
  border-radius: 8px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

#project-card:hover {
  box-shadow: 0 8px 16px var(--emphasis);
  transform: translateY(-5px);
}

#project-img {
  display: flex;
  padding: 50px;
  background-color: var(--gray);
  color: var(--text);
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 8px;;
  margin-bottom: 15px;
}

#project-info h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: var(--background-lighter);
}

#project-info p {
  text-align: center;
  margin-bottom: 10px;
}

#project-info span {
  color: var(--background-lighter);
}

#project-tags {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

#project-tags li {
  list-style: none;
  background-color: var(--gray);
  padding: 10px;
  border: solid 1px var(--page);
  border-radius: 8px;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-links a{
  padding: 10px;
  background-color: var(--background);
  padding: 15px;
  color: var(--text);
  border: solid 1px var(--page);
  border-radius: 8px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.project-links a:hover {
  box-shadow: 0 8px 16px purple;
  transform: translateY(-5px);
}

/* Form */

#contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin: 30px;
}

#contact h2 {
  font-size: 2.5rem;
  color: var(--emphasis);
}

#contact-content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--background-emphasis);
  border-radius: 8px;
}

form {
  color: var(--text);
  justify-content: center;
  text-align: center;
}

#name-email {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

#form-email,
#form-name {
  display:flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  justify-content: center;
}

label {
  font-weight: bold;
}

#form-email input,
#form-name input,
#form-message textarea {
  padding: 10px;
  margin-bottom: 10px;
}

#form-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  padding: 10px;
  background-color: var(--background-lighter);
  color: var(--text);
  border: var(--page) solid 1px;
  margin-bottom: 15px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

button:hover {
  background-color: var(--emphasis);
  color: var(--page);
  box-shadow: 0 8px 16px var(--page);
  transform: translateY(-5px);
}

#contact-info {
  border-left: var(--page) 1px solid;
  background-color: var(--border);
  padding: 10px;
}

#contact-info h3 {
 font-size: 1.15rem;
 margin-bottom: 30px;
 color: var(--background-lighter);
 text-decoration: underline;
}

#contact-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

#contact-info a {
  color: var(--page);
  padding: 5px;
  border-radius: 8px;
}

#contact-info a:hover {
  box-shadow: 0 8px 16px var(--page);
  transform: translateY(-5px);
  background-color: var(--background-lighter);
}

/* Media Queries */

@media (min-width: 768px) {
  /* Home */
  #home {
    max-width: fit-content;
  }

  #about-content {
    display: flex;
    flex-direction: column;
  }

  #projects h2 {
    text-align: center;
  }

  #projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  #contact-content {
    display: flex;
    flex-direction: column;
  }

  #name-email {
    justify-content: left;
    align-items: left;
  }

  #contact-info {
    background-color: var(--gray);
    padding: 15px;
  }

  #contact-info a {
    background-color: var(--emphasis);
  }

  #form-message {
    padding: 10px;
  }

  form label {
    text-align: left;
  }
}
